/*
* README
* This file changes the design of the searchbar 
*/


.coin_subheader{
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.coin_search{
    margin-top:30px;    
    margin-bottom:64px;         
    width: 400px;
    height: 50px;
}
/*Changes design for the searchbar input*/
.coin_input {
    background: #f5f5f5;
    border: none;
    padding: 16px;
    border-radius: 4px;
    outline: none;
    height: 100%;
    width: 100%;

}
/*Changes color of the placeholder for search bar*/
.coin_input::placeholder {
    color: black;
}
