/*
* README:
* This file changes the design of the layout for when you click on a specific
* in the main page.
* 
*/

.crypto_page {
    display: flex;
    justify-content: center;
    height: 75vh;
    align-items: center;
    
  }
  
  .crypto_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #2fffe5;
    border-radius: 10px;
    padding: 4rem;
    width: 400px;
    background-color: black;
  }

  .crypto_container:hover {
    transform: scale(1.05);
    background-color: turquoise;
  }
  
  /* Changes the style for the name*/
  .crypto_image {
    margin-bottom: 1rem;
  }
  
  /* Changes the style for the name*/
  .crypto_name {
    margin-bottom: 1rem;
  }
  
  /* Changes the style for the ticker*/
  .crypto_ticker {
    margin-bottom: 1rem;
    text-transform:uppercase;
  }
  
  /* Changes the style for the price*/
  .crypto_current {
    margin-bottom: 1rem;
    font-size: 2rem;
  }